In [3]:
from datetime import datetime
import pandas as pd
import numpy as np
from dateutil.parser import parse

In [4]:
df_alg = pd.read_csv("data/Algae_Podatki_1994_onwards_24062021.csv", na_values = ["NA", "?"], sep=";")

In [8]:
df_alg

,date,sampling station,sampling depth,sampling method,Alexandrium cf. minutum,Alexandrium spp.(400x),Alexandrium cf. concavum,Alexandrium cf. insuetum,Alexandrium pseudogonyaulax,Alexandrium cf. tamarense,...,Pseudo-nitzschia sp.,Pseudo-nitzschia cf. fraudulenta,Pseudo-nitzschia cf. pungens,Pseudo-nitzschia seriata gr.,Pseudo-nitzschia multistriata,Pseudo-nitzschia cf. galaxiae,Pseudo-nitzschia delicatissima gr.,ASP,Karenia papilionacea,cf. Karenia
0,17/05/1994,0035,0,Niskin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17/05/1994,0035,12,Niskin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17/05/1994,0035,5,Niskin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17/05/1994,0024,0,Niskin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17/05/1994,0024,12,Niskin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,27/11/2020,0DB2,integrated,hose sampler,0,0,0.0,0.0,0,0,...,0,0,0.0,0,0.0,0,5000,5000.0,10.0,0.0
1580,15/12/2020,0024,integrated,hose sampler,0,0,0.0,0.0,0,0,...,0,0,0.0,0,0.0,0,1200,1200.0,0.0,0.0
1581,15/12/2020,0035,integrated,hose sampler,0,0,0.0,0.0,0,0,...,0,0,0.0,100,0.0,0,1700,1800.0,0.0,0.0
1582,15/12/2020,0DB2,integrated,hose sampler,0,0,0.0,0.0,0,0,...,0,0,0.0,0,0.0,0,2600,2600.0,0.0,0.0
1583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Fix:
# empty cells [species not present or not known at the moment of sampling] -> missing

In [10]:
df_tox = pd.read_csv("data/Toxins_Podatki_1994_onwards_24062021.csv", na_values=["x", "? (no data)", "unreliable", 
            "niso več delali analiz, ker nimajo školjk konzumne velikosti"], sep=";")

In [ ]:
# Fix:
# ">320, ocena 920" -> 920 [estimated value], ">320, ocena 1580" -> 1580, ">320, ocena 1880" -> 1880, ">320, ocena 336" -> 336, 
# ">320, ocena 470" -> 470, ">240, ocena 510" -> 510, 
# ["< 3 mg DA/kg", "< 0,2 mg DA/kg", "0,2 mg DA/kg (neg)"] -> neg?
# "0.29 mg/kg"
# "neg (na meji)" -> neg?
# empty cells [test not available, not in the program of testing] -> NaN
# "< MD" -> neg
# num values -> "poz" or "neg" based on treshold?
    # 173 µg/kg = legal limit concentration for DSP toxins, that induce shellfish harvesting ban

In [11]:
df_tox

,date,sampling station,lipophylic toxins,lipophylic toxins (OA (µg/kg)),lipophylic toxins (DTX2 (µg/kg)),PSP toxins,ASP toxins,yessotoxins,ban start,ban stop,data source,comments
0,15/09/1989,0035,poz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sedmak in sod., 1990",NaN
1,15/09/1989,0024,poz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sedmak in sod., 1990",NaN
2,25/09/1989,0035,NaN,NaN,NaN,NaN,NaN,NaN,y,NaN,Sedmak&Obal 1998,NaN
3,25/09/1989,0024,NaN,NaN,NaN,NaN,NaN,NaN,y,NaN,Sedmak&Obal 1998,NaN
4,25/09/1989,0DB2,poz,NaN,NaN,NaN,NaN,NaN,y,NaN,Sedmak&Obal 1998,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1368,20/12/2019,0024,< MD,< MD,< MD,NaN,NaN,NaN,NaN,NaN,Veterinarska fakulteta,NaN
1369,20/12/2019,0DB2,< MD,< MD,< MD,NaN,NaN,NaN,NaN,NaN,Veterinarska fakulteta,NaN
1370,30/12/2019,0035,< MD,< MD,< MD,NaN,NaN,NaN,NaN,NaN,Veterinarska fakulteta,NaN
1371,30/12/2019,0024,< MD,< MD,< MD,NaN,NaN,NaN,NaN,NaN,Veterinarska fakulteta,NaN
1372,30/12/2019,0DB2,< MD,< MD,< MD,NaN,NaN,NaN,NaN,NaN,Veterinarska fakulteta,NaN